In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

import tensorflow as tf
from tensorflow.keras import Sequential # It is build to build ann. Anything which is capital is a class
from tensorflow.keras.layers import Dense # it is used to add hidden layers
from sklearn.metrics import classification_report #evaluation

In [ ]:
df=pd.read_csv('/content/diabetes.csv')

In [ ]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
df.drop(['Pregnancies'],axis=1,inplace=True)

In [ ]:
df

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,72,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
2,183,64,0,0,23.3,0.672,32,1
3,89,66,23,94,28.1,0.167,21,0
4,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63,0
764,122,70,27,0,36.8,0.340,27,0
765,121,72,23,112,26.2,0.245,30,0
766,126,60,0,0,30.1,0.349,47,1
767,93,70,31,0,30.4,0.315,23,0

In [ ]:
df.describe()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
from scipy.stats import skew

In [ ]:
df['Insulin']=skew(df['Insulin'])

In [ ]:
df.describe()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.00000,768.000000,768.000000,768.000000,768.000000
mean,120.894531,69.105469,20.536458,2.26781,31.992578,0.471876,33.240885,0.348958
std,31.972618,19.355807,15.952218,0.00000,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,2.26781,0.000000,0.078000,21.000000,0.000000
25%,99.000000,62.000000,0.000000,2.26781,27.300000,0.243750,24.000000,0.000000
50%,117.000000,72.000000,23.000000,2.26781,32.000000,0.372500,29.000000,0.000000
75%,140.250000,80.000000,32.000000,2.26781,36.600000,0.626250,41.000000,1.000000
max,199.000000,122.000000,99.000000,2.26781,67.100000,2.420000,81.000000,1.000000

In [ ]:
x=df.iloc[:,:-1]
y=df['Outcome']

In [ ]:
x

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,148,72,35,2.26781,33.6,0.627,50
1,85,66,29,2.26781,26.6,0.351,31
2,183,64,0,2.26781,23.3,0.672,32
3,89,66,23,2.26781,28.1,0.167,21
4,137,40,35,2.26781,43.1,2.288,33
...,...,...,...,...,...,...,...
763,101,76,48,2.26781,32.9,0.171,63
764,122,70,27,2.26781,36.8,0.340,27
765,121,72,23,2.26781,26.2,0.245,30
766,126,60,0,2.26781,30.1,0.349,47
767,93,70,31,2.26781,30.4,0.315,23

In [ ]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.20,random_state=1)

In [ ]:
xtrain

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
663,145,80,46,2.26781,37.9,0.637,40
712,129,62,36,2.26781,41.2,0.441,38
161,102,74,40,2.26781,37.2,0.204,45
509,120,78,0,2.26781,25.0,0.409,64
305,120,76,37,2.26781,39.7,0.215,29
...,...,...,...,...,...,...,...
645,157,74,35,2.26781,39.4,0.134,30
715,187,50,33,2.26781,33.9,0.826,34
72,126,90,0,2.26781,43.4,0.583,42
235,171,72,0,2.26781,43.6,0.479,26
37,102,76,37,2.26781,32.9,0.665,46

In [ ]:
xtest

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
285,136,74,26,2.26781,26.0,0.647,51
101,151,60,0,2.26781,26.1,0.179,22
581,109,60,27,2.26781,25.0,0.206,27
352,61,82,28,2.26781,34.4,0.243,46
726,116,78,29,2.26781,36.1,0.496,25
...,...,...,...,...,...,...,...
563,99,60,19,2.26781,26.9,0.497,32
318,115,66,39,2.26781,38.1,0.150,28
154,188,78,0,2.26781,47.9,0.137,43
684,136,82,0,2.26781,0.0,0.640,69
643,90,0,0,2.26781,28.0,0.610,31

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()
xtrain=sc.fit_transform(xtrain)
xtest=sc.fit_transform(xtest)

In [ ]:
# init model
ann=Sequential()

#step2: add layers into model
ann.add(Dense(units=12,activation='relu')) # created one hidden layer
ann.add(Dense(units=1,activation='sigmoid')) # output layer

# step3 establish connection b/w layers
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

#step4 train the model
ann.fit(xtrain,ytrain,batch_size=35,epochs=100)

Epoch 1/100
18/18 [==============================] - 2s 5ms/step - loss: 0.6824 - accuracy: 0.6173
Epoch 2/100
18/18 [==============================] - 0s 4ms/step - loss: 0.6555 - accuracy: 0.6596
Epoch 3/100
18/18 [==============================] - 0s 4ms/step - loss: 0.6325 - accuracy: 0.7117
Epoch 4/100
18/18 [==============================] - 0s 4ms/step - loss: 0.6127 - accuracy: 0.7215
Epoch 5/100
18/18 [==============================] - 0s 4ms/step - loss: 0.5954 - accuracy: 0.7329
Epoch 6/100
18/18 [==============================] - 0s 4ms/step - loss: 0.5804 - accuracy: 0.7378
Epoch 7/100
18/18 [==============================] - 0s 4ms/step - loss: 0.5667 - accuracy: 0.7362
Epoch 8/100
18/18 [==============================] - 0s 4ms/step - loss: 0.5546 - accuracy: 0.7362
Epoch 9/100
18/18 [==============================] - 0s 4ms/step - loss: 0.5438 - accuracy: 0.7394
Epoch 10/100
18/18 [==============================] - 0s 5ms/step - loss: 0.5341 - accuracy: 0.7443
Epoch 11/100
18/18 [==============================] - 0s 4ms/step - loss: 0.5259 - accuracy: 0.7476
Epoch 12/100
18/18 [==============================] - 0s 2ms/step - loss: 0.5187 - accuracy: 0.7459
Epoch 13/100
18/18 [==============================] - 0s 2ms/step - loss: 0.5124 - accuracy: 0.7476
Epoch 14/100
18/18 [==============================] - 0s 2ms/step - loss: 0.5070 - accuracy: 0.7508
Epoch 15/100
18/18 [==============================] - 0s 3ms/step - loss: 0.5025 - accuracy: 0.7557
Epoch 16/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4983 - accuracy: 0.7590
Epoch 17/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4944 - accuracy: 0.7606
Epoch 18/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4912 - accuracy: 0.7606
Epoch 19/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4883 - accuracy: 0.7606
Epoch 20/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4856 - accuracy: 0.7622
Epoch 21/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4831 - accuracy: 0.7622
Epoch 22/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4809 - accuracy: 0.7622
Epoch 23/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4790 - accuracy: 0.7622
Epoch 24/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4774 - accuracy: 0.7671
Epoch 25/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4757 - accuracy: 0.7687
Epoch 26/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4743 - accuracy: 0.7671
Epoch 27/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4730 - accuracy: 0.7704
Epoch 28/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4719 - accuracy: 0.7687
Epoch 29/100
18/18 [==============================] - 0s 3ms/step - loss: 0.4708 - accuracy: 0.7704
Epoch 30/100
18/18 [==============================] - 0s 3ms/step - loss: 0.4699 - accuracy: 0.7671
Epoch 31/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4691 - accuracy: 0.7671
Epoch 32/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4683 - accuracy: 0.7687
Epoch 33/100
18/18 [==============================] - 0s 3ms/step - loss: 0.4675 - accuracy: 0.7655
Epoch 34/100
18/18 [==============================] - 0s 3ms/step - loss: 0.4667 - accuracy: 0.7671
Epoch 35/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4663 - accuracy: 0.7671
Epoch 36/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4655 - accuracy: 0.7655
Epoch 37/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4647 - accuracy: 0.7704
Epoch 38/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4641 - accuracy: 0.7671
Epoch 39/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4636 - accuracy: 0.7671
Epoch 40/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4633 - accuracy: 0.7704
Epoch 41/100
18/18 [==============================] - 0s 3ms/step - loss: 0.4627 - accuracy: 0.7736
Epoch 42/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4622 - accuracy: 0.7704
Epoch 43/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4618 - accuracy: 0.7720
Epoch 44/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4613 - accuracy: 0.7720
Epoch 45/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4610 - accuracy: 0.7736
Epoch 46/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4605 - accuracy: 0.7736
Epoch 47/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4601 - accuracy: 0.7736
Epoch 48/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4599 - accuracy: 0.7736
Epoch 49/100
18/18 [==============================] - 0s 3ms/step - loss: 0.4598 - accuracy: 0.7752
Epoch 50/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4590 - accuracy: 0.7769
Epoch 51/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4587 - accuracy: 0.7769
Epoch 52/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4585 - accuracy: 0.7769
Epoch 53/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4579 - accuracy: 0.7769
Epoch 54/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4577 - accuracy: 0.7785
Epoch 55/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4573 - accuracy: 0.7752
Epoch 56/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4572 - accuracy: 0.7752
Epoch 57/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4567 - accuracy: 0.7769
Epoch 58/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.7785
Epoch 59/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4562 - accuracy: 0.7752
Epoch 60/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4557 - accuracy: 0.7769
Epoch 61/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4557 - accuracy: 0.7769
Epoch 62/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4549 - accuracy: 0.7769
Epoch 63/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4547 - accuracy: 0.7752
Epoch 64/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4544 - accuracy: 0.7752
Epoch 65/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4542 - accuracy: 0.7736
Epoch 66/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4537 - accuracy: 0.7752
Epoch 67/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4533 - accuracy: 0.7752
Epoch 68/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4530 - accuracy: 0.7769
Epoch 69/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4530 - accuracy: 0.7785
Epoch 70/100
18/18 [==============================] - 0s 4ms/step - loss: 0.4524 - accuracy: 0.7785
Epoch 71/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4522 - accuracy: 0.7769
Epoch 72/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4522 - accuracy: 0.7769
Epoch 73/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4516 - accuracy: 0.7785
Epoch 74/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4513 - accuracy: 0.7785
Epoch 75/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4511 - accuracy: 0.7801
Epoch 76/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4509 - accuracy: 0.7801
Epoch 77/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4506 - accuracy: 0.7801
Epoch 78/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4503 - accuracy: 0.7801
Epoch 79/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4502 - accuracy: 0.7818
Epoch 80/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4498 - accuracy: 0.7818
Epoch 81/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4496 - accuracy: 0.7801
Epoch 82/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4496 - accuracy: 0.7785
Epoch 83/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4495 - accuracy: 0.7818
Epoch 84/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4490 - accuracy: 0.7850
Epoch 85/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4486 - accuracy: 0.7866
Epoch 86/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4484 - accuracy: 0.7850
Epoch 87/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4482 - accuracy: 0.7850
Epoch 88/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4479 - accuracy: 0.7866
Epoch 89/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4480 - accuracy: 0.7850
Epoch 90/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4478 - accuracy: 0.7850
Epoch 91/100
18/18 [==============================] - 0s 3ms/step - loss: 0.4475 - accuracy: 0.7850
Epoch 92/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4472 - accuracy: 0.7850
Epoch 93/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4470 - accuracy: 0.7850
Epoch 94/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4469 - accuracy: 0.7866
Epoch 95/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4465 - accuracy: 0.7866
Epoch 96/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4465 - accuracy: 0.7850
Epoch 97/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4463 - accuracy: 0.7850
Epoch 98/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4459 - accuracy: 0.7850
Epoch 99/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4457 - accuracy: 0.7866
Epoch 100/100
18/18 [==============================] - 0s 2ms/step - loss: 0.4455 - accuracy: 0.7883

In [ ]:

ypred=ann.predict(xtest)

5/5 [==============================] - 0s 2ms/step

In [ ]:
ypred=ypred>0.5
ypred=np.where(ypred<0.5,0,1)
ypred

array([[0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0]])

In [ ]:
print(classification_report(ytest,ypred))

              precision    recall  f1-score   support

           0       0.81      0.93      0.86        99
           1       0.82      0.60      0.69        55

    accuracy                           0.81       154
   macro avg       0.82      0.76      0.78       154
weighted avg       0.81      0.81      0.80       154