In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df=pd.read_excel('/content/movie.xlsx')

In [ ]:
df

     label                                             review
0      neg  how do films like mouse hunt get into theatres...
1      neg  some talented actresses are blessed with a dem...
2      pos  this has been an extraordinary year for austra...
3      pos  according to hollywood movies made in last few...
4      neg  my first press screening of 1998 and already i...
...    ...                                                ...
1995   pos  i like movies with albert brooks , and i reall...
1996   pos  it might surprise some to know that joel and e...
1997   pos  the verdict : spine-chilling drama from horror...
1998   pos  i want to correct what i wrote in a former ret...
1999   pos  a couple of months ago , when i first download...

[2000 rows x 2 columns]

In [ ]:
df.isnull().sum()

label      0
review    62
dtype: int64

In [ ]:
df['review'].replace(' ',np.nan,inplace=True)

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [ ]:
emp_ind=[]
for index,lab,rev in df.itertuples():
  if type(rev)==str:
    if rev.isspace():
      emp_ind.append(index)

In [ ]:
emp_ind

[]

In [ ]:
import nltk

from nltk.tokenize import word_tokenize
nltk.download('punkt')

from nltk.corpus import stopwords
nltk.download('stopwords')

from nltk.stem import PorterStemmer,WordNetLemmatizer
nltk.download("wordnet")
nltk.download('omw-1.4')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [ ]:
def clean_sent(sent):
  tkns=word_tokenize(sent.lower())
  ftkns=[i for i in tkns if i.isalpha()]

  stwd=stopwords.words("english")
  sttkns=[i for i in ftkns if i not in stwd]

  stm=PorterStemmer()
  final_tkns=[stm.stem(i) for i in sttkns ]
  return " ".join(final_tkns)

In [ ]:
df["clean_msg" ]=df["review"].apply(clean_sent)

In [ ]:
df

,label,review,clean_msg
0,neg,how do films like mouse hunt get into theatres...,film like mous hunt get theatr law someth diab...
1,neg,some talented actresses are blessed with a dem...,talent actress bless demonstr wide act rang ot...
2,pos,this has been an extraordinary year for austra...,extraordinari year australian film shine scoop...
3,pos,according to hollywood movies made in last few...,accord hollywood movi made last decad life sma...
4,neg,my first press screening of 1998 and already i...,first press screen alreadi gotten prime candid...
...,...,...,...
1995,pos,"i like movies with albert brooks , and i reall...",like movi albert brook realli like movi direct...
1996,pos,it might surprise some to know that joel and e...,might surpris know joel ethan coen brought una...
1997,pos,the verdict : spine-chilling drama from horror...,verdict drama horror maestro stephen king feat...
1998,pos,i want to correct what i wrote in a former ret...,want correct wrote former retrospect david lea...
1999,pos,"a couple of months ago , when i first download...",coupl month ago first download trailer net ini...

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
vec=TfidfVectorizer()
vec.fit(df['review'])
tf_vec=vec.transform(df['review']).toarray()

NameError: ignored

In [ ]:
x=tf_vec
x

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain, ytest=train_test_split(x,y,test_size=0.30,random_state=1)

In [ ]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(xtrain, ytrain)
ypred=lr.predict(xtest)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(ytest, ypred) )

              precision    recall  f1-score   support

         neg       0.82      0.83      0.82       293
         pos       0.82      0.81      0.82       289

    accuracy                           0.82       582
   macro avg       0.82      0.82      0.82       582
weighted avg       0.82      0.82      0.82       582